@use "sass:map";
@use '../variables' as *;


.container {
    padding: 2.4rem;
    width: 100%;
    max-width: 327px;
    background-color: #fff;
    position: absolute;
    top: 100px;
    @media (min-width: map.get($breakpoints, "tablet")) {
        padding: 4rem;
        max-width: 600px;
        @media (max-width: map.get($breakpoints, "desktop")) {
            top: 100px;
        }
    }
}

.accordion:not(:last-child) {
    border-bottom: 1px solid map.get($colors, "background"); 
    margin-bottom: $margin;
}

.logo {
    display: flex;
    align-items: center;
    gap: $margin;
    margin-bottom: $margin;
    h1 {
        font-size: 3.2rem;
        font-weight: 700;
        @media (min-width: map.get($breakpoints, "tablet"))  {
            font-size: map.get($font-size, "large");
        }
    }
    img {
        height: 21px;
        width: 21px;
        user-select: none;
        @media (min-width: map.get($breakpoints, "tablet"))  {
            height: 35px;
            width: 35px;
        }
    }
}

.card {
    .collapsible-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
            cursor: pointer;
            summary {
                color: map.get($colors, "accent");
            }
        }
    }
    summary {
        font-size: 1.6rem;
        font-weight: 600;
        max-width: 220px;
        @media (min-width: map.get($breakpoints, "tablet"))  {
            max-width: 100%;
        }
    }
    p {
        font-size: 1.4rem;
        color: map.get($colors, "text");
        font-weight: 400;
    }
    .collapsible-heading, p {
        margin-bottom: $margin;
    }
    .collapsible {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s;
    }
    .expanded {
        max-height: 400px;
        transition: max-height 0.5s ease-in;
    }
    img {
        user-select: none;
    }
}

.card summary, 
.logo, h1 {
    color: map.get($colors, "primary");
}