@use 'sass:map';
@use 'variables' as *;

*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    background-color: map.get($colors, "background");
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-family;
}

ul {
    list-style-type: none;
}